[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = git@github.com:mtth/scratch.vim.git
[submodule "bundle/vim-renamer"]
	path = bundle/vim-renamer
	url = git@github.com:qpkorr/vim-renamer.git
[submodule "bundle/Drawit"]
	path = bundle/Drawit
	url = git@github.com:vim-scripts/DrawIt.git
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = git@github.com:hynek/vim-python-pep8-indent.git
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = git@github.com:PProvost/vim-ps1.git
